@model IEnumerable<App.BLL.DTO.Disc>

@{
    ViewData["Title"] = "Disc";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Glide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Glide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturers!.ManufacturerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories!.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
